<div>
  <h3>Search for a Northwind food product</h3>
  <div>
    <label for="productSearch">Enter a Product ID</label>
    <input type="number" id="productID" [(ngModel)]="productID">
    <input type="button" class="btn btn-primary" (click)="onSearchClick()" value="Search">
  </div>
  <br>
  <div *ngIf="product.ProductID !== null">
    <div>
      <label for="productName">Product Name</label><br>
      <input type="text" id="productName" [(ngModel)]="product.ProductName">
    </div>
    <div>
      <label for="unitPrice">Unit Price</label><br>
      <input type="number" id="unitPrice" min="0.00" max="10000.00" step="0.01" [(ngModel)]="product.UnitPrice">
    </div>
    <div>
      <label for="categoryID">Category ID</label><br>                
      <select [(ngModel)]="product.CategoryID" id="categoryID">
          <!-- <option value="0">Select a category</option> -->
          <option *ngFor="let category of categories" value="{{category.CategoryID}}">{{category.CategoryID}} - {{category.CategoryName}}</option>
      </select>
    </div>
    <div><br>
      <input type="button" class="btn btn-primary" value="Update" (click)="updateProduct()">
    </div>
    <br>
        <div *ngIf="productUpdated == 1" class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Product ID {{productID}} was updated successfully!
          </div>
  </div>
</div>